DOCKER_DATA="/docker/data"
DOWNLOADS_DATA="/downloads"
DEFAULT_NETWORK="badassnet"
DOMAIN_NAME="domain.tld"
SUBDOMAIN="qbittorrent"
PUID=1000
PGID=1000
TZ="Europe/Madrid"
DNS=1.1.1.1
VPN_SERVICE_PROVIDER="protonvpn"
VPN_TYPE="wireguard"
WIREGUARD_PRIVATE_KEY="supersecret"
SERVER_COUNTRIES="Spain"
PORT_FORWARD_ONLY="on"
