# Docker
.env

# Authelia
authelia/configuration.yml
authelia/users.yml

# Monitoring
snmp.yml

# Mosquitto
mosquitto.conf

# Telepush
telepush/blacklist.txt
telepush/whitelist.txt

# Terraform
.terraform
*.tfstate*
*.tfvars

# Others
.ignored_bash_aliases
immich/ml_without_avx
