DOCKER_DATA="/docker/data"
DEFAULT_NETWORK="traefiknet"
DOMAIN_NAME="domain.tld"
SUBDOMAIN="spottarr"
PUID=1000
PGID=1000
TZ="Atlantic/Canary"
USENET__HOSTNAME="your.news.server.com"
USENET__USERNAME="your-username"
USENET__PASSWORD="supersecret"
USENET__PORT=563
USENET__USETLS=true
USENET__MAXCONNECTIONS=5
SPOTNET__IMPORTBATCHSIZE=10000
SPOTNET__RETENTIONDAYS=0
SPOTNET__IMPORTADULTCONTENT=false
SPOTNET__RETRIEVEAFTER="2026-01-01T00:00:00Z"
NEWZNAB__APIKEY="supersecret"
ADMIN__APIKEY="supersecret"
